<div class="background-image-example">
  
  <div class="d-flex toggle-button align-items-center justify-content-center">
    <%= button_to "/menus/index", method: :get, class: "button-on button-left" do %>
      <i class="fas fa-history "></i>  ガチャ履歴
    <% end %>
    <%= button_to "/menus/favs", method: :get, class: "button-right button-off" do %>
      <i class="fa-solid fa-star" aria-hidden="true"></i>  お気に入り
    <% end %>
  </div>
  
  <% @menus.each do |menu| %>
    <ul style="list-style: none; padding-left: 0;" class="d-flex menu align-items-center justify-content-center">
        <% if fav?(menu.id) %>
                        <%= button_to toggle_record_path, method: :post, class: "fav-button fav-position", params: { id: menu.id } do %>
                          <i class="fa-solid fa-star star-y" aria-hidden="true"></i>
                        <% end %>
                      <% else %>
                        <%= button_to toggle_record_path, method: :post, class: "fav-button fav-position", params: { id: menu.id } do %>
                          <i class="fa-solid fa-star" aria-hidden="true"></i>
                        <% end %>
                      <% end %>
        <% menu.items.each do |item| %>
          <li class="menu-list text-center">
            <div>
              <%= item.product_name%>
            </div>
            <div>
              <%= item.price %>円 <%= item.cal %>cal
            </div>
          </li>
        <% end %>
    </ul>
  <% end %>
  <% if @menus.any? %>
    <%= will_paginate @menus, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, params: { controller: :menus, action: :index }, class: "pagination" %>
  <% end %>
</div>