<% provide(:title, 'Sign up') %>

<h1 class="text-center">Sign up</h1>
<div class="d-flex flex-column align-items-center justify-content-center">
  <div class="text-center">
    <%= form_with(model: @user) do |f| %>
      <div class="my-div mt-3 ">
      <%= f.label :name, class: "name-width" %>
      <%= f.text_field :name %>
      </div>
      <div class="my-div mt-3 ">
      <%= f.label :email, class: "name-width" %>
      <%= f.email_field :email %>
      </div>
      <div class="my-div mt-3 ">
      <%= f.label :password, class: "name-width" %>
      <%= f.password_field :password %>
      </div>
      <div class="my-div mt-3 ">
      <%= f.label :password_confirmation, "Confirmation", class: "name-width" %>
      <%= f.password_field :password_confirmation %>
      </div>
      <div class="my-div mt-3 ">
      <%= f.submit "Create my account", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
